$circle:linear-gradient(45deg, #1880bd, #189cbd 35%, #58d6c1 110%);

.asection {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: grey;
    position: relative;
    width: 100%;
    height: 623.7px;

    .shapes {
        overflow: hidden;
        width:100%;
        .ring-l{
            overflow: hidden;
            border-radius: 50%;
                height: 80px;
                width: 80px;
                border: 15px solid #007cb7;
                top: 35%;
               right:-3rem;
                
               
        }
        .common-b {
            position: absolute;
            z-index: -2;
        }
      .animated-move{
        width: 200px;
            height: 200px;
         
            left:50%;
                top: 0;
                animation: iconanimated 15s linear infinite alternate;


        .icon-animated{
                border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    border: 5px solid #d3d4d59f;
        }
      }
      @-webkit-keyframes iconanimated{
        0% {
            transform: translate(-300px, 150px) rotate(0deg);
            }
        
          100% {
            transform: translate(300px, -150px) rotate(180deg);
            }
       }
        .b-pattern-shape {
            bottom: -14rem;
            right: 0;
            width: 175px;
            height: 54%;
            background-color: initial;
            background-image: radial-gradient(#1880bd 3px, transparent 0);
            opacity: 0.2;
            background-size: 30px 30px;
        }

        .circle {
            
            opacity: .2;
            transform: translateZ(0);
            width: 700px;
            height: 700px;
            background:$circle;
            border-radius: 50%;
            margin: 0;
            bottom:-7rem;
            left: -10rem
        }
        .b-circle{
            
                    opacity: 0.1;
                        transform: translateZ(0);
                        width: 500px;
                        height: 500px;
                        background: $circle;
                        border-radius: 50%;
                        margin: 0;
                        bottom: -3rem;
                        left: -10rem;
        }


    }

    .container-as {
        margin: 0 auto;
        max-width: 1140px;
        height: auto;
        padding: 75px 0 90px;

        .row {
            max-width: 1140px;
            position: relative;
            z-index: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            .column-as {
                position: relative;
                max-width: 570px;
                display: flex;
                flex-direction: column;
                padding: 15px;
                z-index: -1;

                .image-as {
                    background-color: white;
                    width: 100%;

                    figure {
                        margin: 0 0 1rem 0;

                        img {
                            display: block;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }

            }



            .section-heading {

                margin-bottom: 33px;
                position: relative;

                .after {
                    letter-spacing: .05rem;
                    font-size: 42px;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 0.74);

                    &::after {
                        align-self: left;
                        content: "";
                        display: block;
                        margin: 32px 0 24px;
                        width: 40px;
                        height: 2px;
                        background-color: #189cbd;
                    }
                }

                .p-margin {
                    font-size: 20px;
                    margin: 16px 0;
                    font-weight: 300;
                }

            }

            .nav {
                display: flex;

                justify-content: start;

                .zoom {
                    margin-left: 7px;
                }

                .b-decoration {
                    border: none;
                    border-radius: 40px;
                    color: #fff;
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.75rem;
                    font-weight: 800;
                    height: 45px;
                    transition: .4s ease;
                    width: 171px;
                }

                .a-decoration {
                    transition: all .3s ease;
                    text-decoration: none;
                    letter-spacing: 1.45px;
                    font-weight: 400;
                    padding: 0.5rem 1.25rem;
                    font-size: .75rem;
                    line-height: 1.5;
                }

                .a-backgr-color {
                    background-color: white;
                    color: #189cbd;
                    border: 1px solid #189cbd;
                }

                .a-backgr-color:hover {
                    scale: calc(1.1);
                    font-size: 0.8rem;
                    background-color: rgba(255, 255, 255, 0.878);
                    box-shadow: 8px 12px 20px -3px rgb(15 125 161 / 56%), 0 17px 50px 0 rgb(0 0 0 / 19%);
                    transition: .5s ease;
                }
            }

            .height-auto {
                height: auto;
            }

            .margin-top {
                margin-top: 2rem;
            }
        }
    }
}