$background-shape: linear-gradient(45deg, #1880bd, #189cbd 35%, #58d6c1 110%);
$backgr-shape-b: linear-gradient(90deg, #d3d4d5, #edf4f8);
$backgr-shape-d: linear-gradient(90deg, #1880bd, #58d6c1);
$backgr-shape-c-long: linear-gradient(90deg, #edf4f8, #d3d4d5);
$backgr-shape-c-short: linear-gradient(90deg, #d3d4d5, #d3d4d5);

.section-home {
    height: 100vh;
    padding: 0 4rem;
    padding-bottom: 5rem;
    position: static;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: grey;
    display: flex;
    text-align: left;
    align-items: flex-end;
// @media screen and (max-width:650px) {
//     padding: 0 0.5rem;
// }
    .socials-row{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        .icon-size{
font-size: 1.4rem;

        }
        .instagram:hover{
            border-radius: 6px;
            background-clip: text;  
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            background:  conic-gradient(from 180deg at 50.73% 50%, #FDC367 0deg, #E1316D 43.39deg, #D02E90 90deg, #9938BD 136.88deg, #6359C9 181.87deg, #515DD1 224.65deg, #BE407B 271.87deg, #FDBB54 315.52deg, #FDC367 360deg);  

        
        }
        .youtube:hover{
            color: #ff0000;
        }
        .twitter:hover{
            color: #1a98e4;
        }
    }
    .shapes {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        .animation {
            width: 50px;
            height: 50px;
            left: 25%;
            top: 75%;
            animation: clockwise 35s linear infinite normal;

            .icon-animated {
                img {
                    height: 20px;
                    width: 20px;
                    opacity: 0.5;
                }

            }
        }

        @-webkit-keyframes clockwise {
            0% {
                transform: rotate(0deg) translate(-165px) rotate(0deg);
            }

            100% {
                transform: rotate(1turn) translate(-165px) rotate(-1turn);
            }

        }

        .a-animation {
            width: 50px;
            height: 50px;
            top: 30%;
            left: 75%;
            animation-duration: 15s;
            animation: clock 25s linear infinite normal;

            .a-icon-animated {
                z-index: -1;
                height: 20px;
                width: 20px;

                opacity: 0.5;

                .eth {
                    fill: rgb(214, 214, 214);
                    height: 60px;
                    width: 20px;
                    opacity: 1;
                }
            }
        }

        @-webkit-keyframes clock {
            0% {
                transform: rotate(0deg) translate(-165px) rotate(0deg);
            }

            100% {
                transform: rotate(1turn) translate(-165px) rotate(-1turn);
            }
        }

        .b-animation {
            width: 50px;
            height: 50px;
            left: 50%;
            top: 0;
            animation: heart 30s linear infinite alternate;

            .b-icon-animated {
                border-radius: 50%;
                height: 20px;
                width: 20px;
                border: 5px solid #d3d4d59f;
            }

        }

        @-webkit-keyframes heart {
            0% {
                transform: translate(-300px, 150px) rotate(0deg);
            }

            100% {
                transform: translate(300px, -150px) rotate(180deg);
            }
        }





        .main-shape {

            background-image: $background-shape;
            width: 100%;
            height: 120%;
            bottom: 12rem;
            right: -2rem;
            border-radius: 160px;
            transform: translate(35%, -30%) rotate(-35deg);
            overflow: hidden;
            animation: main-down 1.5s ease forwards;

        }

        @keyframes main-down {
            from {
                bottom: 14rem;
                scale: calc(0.8);
            }

            to {}
        }



        .ring-r {

            border-radius: 50%;
            width: 120px;
            height: 120px;
            border: 15px solid hsla(0, 0%, 100%, .5);
            top: 18%;
            right: 0;
            transform: translateX(50%);
            animation: ring-r 1.5s ease forwards;

        }

        @keyframes ring-r {
            from {
                transform: translateX(0%)
            }

            to {
                transform: translateX(50%)
            }
        }



        .ring-l {

            border-radius: 50%;
            height: 80px;
            width: 80px;
            border: 15px solid #007cb7;
            top: 35%;
            left: 0;
            transform: translateX(-50%);
            animation: ring-l 1.5s ease forwards;

        }

        @keyframes ring-l {
            from {
                transform: translateX(0%)
            }

            to {
                transform: translateX(-50%)
            }
        }


        .common-b {
            position: absolute;
            z-index: -2;
        }

        .pattern-shape {

            top: 0;
            left: 0;
            width: 150px;
            height: 12%;
            background-color: initial;
            background-image: radial-gradient(#1880bd 3px, transparent 0);
            opacity: 0.1;
            background-size: 30px 30px;
        }

        .b-pattern-shape {
            bottom: 5.5rem;
            right: 0;
            width: 150px;
            height: 15%;
            background-color: initial;
            background-image: radial-gradient(#1880bd 3px, transparent 0);
            opacity: 0.1;
            background-size: 30px 30px;
        }


        .long-shape {

            width: 600px;
            height: 40px;
            left: 22%;
            top: 15rem;
            background-image: $background-shape;
            animation: right 1s ease ;

        }

        @keyframes right {
            from {
                left: 20%;
                }

            to {
                left: 22%;
            }
        }

        .common-a {
            transform: rotate(55deg) !important;
            border-radius: 50px;
            z-index: -2;

        }

        .short-shape {
            width: 400px;
            height: 10px;
            left: 20.5%;
            top: 9rem;
            background-image: $background-shape;
            animation: short-shape 1.5s ease;

        }

        @keyframes short-shape {
            from {
                left: 18.5%;
            }

            to {
                left:20.5%;
            }
        }

        .b-long-shape {
            top: 80%;
            left: 45%;
            width: 200px;
            height: 5px;
            background-image: $backgr-shape-b;
            animation: b-long-shape 1.5s ease ;
        }

        @keyframes b-long-shape {
            from {
                left: 43%;
            }

            to {
                left: 45%;
            }
        }

        .b-short-shape {
            top: 82%;
            left: 45%;
            width: 150px;
            height: 15px;
            background-image: $backgr-shape-b;
            animation: b-long-shape 1.7s ease ;
        }

        @keyframes b-short-shape {
            from {
                left: 47%;
            }

            to {left: 45%;}
        }

        .c-long-shape {
            opacity: .5;
            top: 20%;
            left: 0;
            width: 200px;
            height: 20px;
            background-image: $backgr-shape-c-long;
            animation: c-long-shape 1.7s ease;
        }

        @keyframes c-long-shape {
            from {
                left: -1rem;
            }

            to {}
        }

        .c-short-shape {
            opacity: .5;
            top: 17%;
            left: 4%;
            width: 100px;
            height: 6px;
            background-image: $backgr-shape-c-short;
            animation: c-short-shape 1.7s ease ;
        }

        @keyframes c-short-shape {
            from {
                left: 3%;
            }

            to {}
        }

        .lonely-shape {
            top: 34%;
            left: 5%;
            width: 60px;
            height: 6px;
            opacity: .5;
            background-image: $backgr-shape-d;
            animation: lonely-shape 1.7s ease;
        }

        @keyframes lonely-shape {
            from {
                left: 3%;
            }

            to {}
        }

        .d-long-shape {
            top: 70%;
            left: -5%;
            width: 300px;
            height: 5px;
            opacity: .5;
            background-image: $backgr-shape-d;
            animation: d-long-shape 1.7s ease;
        }

        @keyframes d-long-shape {
            from {
                left: -3%;
            }

            to {}
        }

        .d-short-shape {
            top: 72%;
            left: -5%;
            width: 200px;
            height: 15px;
            opacity: .5;
            background-image: $backgr-shape-d;
            animation: d-long-shape 1.7s ease ;
        }

        @keyframes lonely-shape {
            from {
                left: 3%;
            }

            to {}
        }

    }

    .container {
width: 100%;
        .row {
width: 100%;            position: relative;
            z-index: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            a:hover {
                cursor: pointer;
            }

            .border-radius {
                transition: box-shadow .3s linear;
                box-shadow: 0 0 1px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 3%);
                border-radius: 50rem;

            }

            .padding {
                padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                opacity: 0.85;

            }

            .padding:hover {
                opacity: 1;
                cursor: pointer;


            }

            .button-cont {
                display: flex;
                flex-direction: column-reverse;
                flex-wrap: nowrap!important;
                margin-top: 2rem;
                justify-content: start;

                a {
                    text-decoration: none;
                    color: currentColor;
                }

                form {
                    margin-right: 7%;
                }

                .b-decoration {
                    border: none;
                    border-radius: 40px;
                    color: #fff;
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.75rem;
                    font-weight: 800;
                    height: 45px;
                    transition: .4s ease;
                    width: 159px;
                }

                .b-backgr-color {
                    background-color: #189cbd;
                    color: white;
                    border: 1px solid #189cbd;
                    margin-right: 7%;
                    animation: b-backgr 1.5s ease forwards;
                    transform: translateY(3vh);

                }

                @keyframes b-backgr {
                    from {

                        opacity: 0;
                    }

                    to {
                        transform: translateY(0vh);
                    }
                }


                .b-backgr-color:hover {
                    scale: calc(1.1);
                    font-size: 0.8rem;
                    background-color: #48b4d0e0;
                    box-shadow: 8px 12px 20px -3px rgb(15 125 161 / 56%), 0 17px 50px 0 rgb(0 0 0 / 19%);
                    transition: .5s ease;
                }

                .a-backgr-color {
                    background-color: white;
                    color: #189cbd;
                    border: 1px solid #189cbd;
                    animation: a-backgr 1.5s ease forwards;
                    transform: translateY(3vh);

                }

                @keyframes a-backgr {
                    from {

                        opacity: 0;
                    }

                    to {
                        transform: translateY(0vh);
                    }
                }


                .a-backgr-color:hover {
                    scale: calc(1.1);
                    font-size: 0.8rem;
                    background-color: rgba(255, 255, 255, 0.878);
                    box-shadow: 8px 12px 20px -3px rgb(15 125 161 / 56%), 0 17px 50px 0 rgb(0 0 0 / 19%);
                    transition: .5s ease;
                }

                /*              a {
                    cursor: pointer;
                    z-index: 1;
                }

                .a-blue {
                    background-color: #189cbd;
                    margin-right: 2rem;
                    
                    border: none;
                    border-radius: 15px;
                    color: black;
                    cursor: pointer;
                    font-family: 'Roboto',sans-serif;
                    font-size: 0.75rem;
                    font-weight: 800;
                    height: 30px;
                    padding: 20px 35px;
                    transition: .4s ease;
                    width: 128px;

                }


*/
                .a-decoration {
                    transition: all .3s ease;
                    text-decoration: none;
                    letter-spacing: 1.45px;
                    font-weight: 400;
                    padding: 0.5rem 1.25rem;
                    font-size: .75rem;
                    line-height: 1.5;

                }
            }

            .span {
                color: black;
                max-width: 238px;
            }


            .span {
                background-color: white;
                position: static;
            }

            .toggle {

                animation: toggle 1.5s ease forwards;
                transform: translateY(2vh);

            }

            @keyframes toggle {
                from {

                    opacity: 0;
                }

                to {
                    transform: translateY(0vh);
                }
            }

            .Highlighter {
                color: rgb(83, 194, 222);
                animation: Highlighter 1.5s ease forwards;
                -webkit-animation-delay: .2s;
                /* Chrome, Safari, Opera */
                animation-delay: .2s;
                transform: translateX(-25vh);
                opacity: 0;
                cursor: none;
            }

            @keyframes Highlighter {


                from {}

                to {
                    transform: translateX(0vh);
                    opacity: 1;

                }
            }



            .Highlighter:hover {
                cursor: pointer;
            }
.title{
    text-transform: uppercase;
}
            .bold {
                font-weight: bold;
            }

            .width-b {
                align-self: flex-start;
                margin: 0 auto;
            }

            .width-a {
                max-width: 700px;

                @media screen and (max-width:980px) {

                    max-width: 500px !important;


                }
            }




            .column-r {
                z-index: -1;
                position: relative;


                h1 {
                    line-height: 1;
                    font-size: 88px;
                    margin: 0 0;
                    color: #53c2de;
                    animation: column-r-h1 1.5s ease forwards;
                }

              
                @keyframes column-r-h1 {
                    from {
                        transform: translateX(-25vh);
                        opacity: 0;
                    }

                    to {}
                }



                .f-size {
                    font-size: 18px;
                    width: 85%;
margin: 0;
                }

                .description {
                    animation: description 1.5s ease forwards;
                    -webkit-animation-delay: .3s;
                    /* Chrome, Safari, Opera */
                    animation-delay: .3s;
                    opacity: 0;

                }


                @keyframes description {
                    from {
                        transform: translateX(-45vh);
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

            @media screen and (max-width:550px) {
                .column-r h1 {    
                     font-size: 66px!important;
                 }
             
             }
        }
    }


    .iphone14pro {
        margin: 0 auto;
        position: static;
        background: rgb(0, 0, 0);
        max-width: 231px;
        max-height: 500px;
        border-radius: 36.5px;
        padding: 7px 4px;
        opacity: 1;
        overflow: hidden;
        border: 4px solid black;
        animation: iphone14pro 1.7s ease forwards;



    }

    @media screen and (max-width:980px) {
        .width-b .iphone14pro {
            margin-top: 2rem;
        }

    }

    @keyframes iphone14pro {
        from {
            transform: translateX(-25vh);
            opacity: 0;
        }

        to {}
    }

    .screen {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: auto;
        border-radius: 36px;
        position: static;
        max-width: 100%;
        margin: 0 auto;
        transition: box-shadow .3s linear;
        box-shadow: 0 0 1px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 3%);

        img {
            border-radius: 30px;
            max-width: 100%;
            margin: 0rem 0.6rem 0rem 0.6rem;
            animation: screen 20s ease-in-out infinite alternate;

            transform: translateX(-0.5rem);
        }

        // @keyframes screen {

        //     0%,
        //     20% {
        //         transform: translateX(-30rem);
        //     }


        //     30%,
        //     50% {
        //         transform: translateX(-40rem);
        //     }

        //     60%,
        //     80% {
        //         transform: translateX(-50rem);
        //     }

        //     90%,
        //     100% {
        //         transform: translateX(-100rem);
        //     }
        // }


        .notch {
            background-color: black;
            border: 10px solid black;
            border-radius: 10px;
            max-width: 6rem;
            margin: 0 auto;
            position: absolute;
            right: 35%;
            left: 35%;
            top: 0.8rem;
            z-index: 1;
        }
    }
}