.services {
    .exp-container {
        margin: 0 auto;
        height: auto;
        padding: 90px 0 90px;
        max-width: 1140px;

        .exp-heading {
            text-align: center;
            margin-bottom: 84px;

            .exp-heading-text {
                color: white;
                margin: 0rem 1.5rem;
                font-weight: 400;
                font-size: 2.9rem;
                letter-spacing: 0.05rem;
                line-height: 1.2;

                &::after {
                    content: "";
                    display: block;
                    margin: 32px auto 24px;
                    width: 40px;
                    height: 2px;
                    background-color: #189cbd;
                }
            }
            .exp-h4{
                font-size: 35px;
                margin-bottom: 1.7rem;
                color: #199bbc;
                text-align: center;
                
            }

            .exp-text {
                font-weight: 400;
                font-size: 21px;
                margin: 1rem 2rem;
                text-align: center;
                color:gray;

            }
        }

        .exp-cards {
            border: #189cbd 4px solid;
            border-radius: 10px;
          
            width: 95%;
            margin: 0 auto;
        
            display: grid;
            column-gap: 0rem;
            grid-template-columns: repeat(3,minmax(0,1fr));
            background-color: #191919;
            box-shadow: inset 0 0 0.2em 0 #189cbd, 0 0 0.2em 0 #189cbd;

            .exp-sect{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap: 1.2rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                &:hover{
                }

                &:not(:last-child) {
                border-right: #189cbd 1px solid;
                }

                .sect-number{
                    font-size: 2.9rem;
                    color: #199bbc;
                    text-align: center;
                    text-shadow: 0 0 0.1em currentColor;
                    
                }

                .sect-text{
                    font-weight: 400;
                    font-size: 21px;
                    text-align: center;
                    color: white;

                }

                .sect-button{
                    background-color: white;
                    padding: 0.8rem;
                    border-radius: 6px;
                    text-decoration: none;
                    color:#199bbc;
                }
            }
        }
    }
}