header{
 a{
 color:#FFFFFF;
 text-decoration-line: none;
 }
 a:hover{
    text-decoration-line: underline ;
    text-decoration-color: #189cbd;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
 }
 

}

body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
}

.blue {
    color: #53C2DE;
}

.scroll-to-top {
    background-color: #53C2DE !important;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
    border: none;
}

hr {
    border-color: #189cbdb6;
    margin-bottom: 50px;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15rem 0rem 8rem 0rem;
    justify-content: center;
    min-height: 30rem;

    //font
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 4.1rem;
    color: white;
    text-transform: capitalize;

    #button {
        background-color: #189cbd;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        padding: 20px 35px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        transition: ease 0.4s;
        width: 200px;
        height: 60px;
        font-weight: 800;
    }

    #button:hover {
        background-color: #48b4d0e0;
        letter-spacing: .07em;
        box-shadow: 8px 12px 20px -3px rgba(15, 125, 161, 0.559), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        transition: ease 0.5s
    }

    #button:focus {
        background-color: #4fb7d1;
        transition: ease 0.8s
    }


    .left {
    width: 77rem;

        .title {
            max-width: 80%;
            margin-bottom: 0px;
        }

        .sub-title {
            max-width: 80%;
            margin-bottom: 0px;
            font-size: 1.5rem;
            font-weight: 400;
        }



    }

    .right {
        display: flex;
        justify-content: center;

        img {
            width: 30rem;
            
        }
    }


    .shape {

        .bubble {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.1 !important;
        }

        .bubble2 {
            width: 10%;
            position: absolute;
            z-index: 1;
            top: 100px;
            right: 200px;
            opacity: 0.2 !important;
        }
    }
}

.third-section {
    padding-top: 90px;
    padding-bottom: 90px;

    .section-heading {
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 70px;

    }

    h1,
    p,
    span {
        font-family: 'Roboto', sans-serif;
    }

    p {
        margin-top: 28px;
        padding-bottom: 28px;
        font-size: 22px;
        font-style: italic;
        max-width: 765px;
        margin: auto;
    }

    h1 {
        font-size: 50px;
        margin-top: 10px;
    }

    span {
        font-size: 18px;
    }

    .text-blue {
        color: #189cbd;
        font-size: 50px;
    }

    .row-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .container {
            padding-right: 80px;
            padding-left: 80px;
            padding-top: 70px;
            width: 230px;
            height: 330px;
        }

        .team-grid {
            width: 230px;
            height: 330px;
            text-align: center;
            color: #FFFFFF;
            box-shadow: 8px 12px 20px -3px rgba(15, 125, 161, 0.559), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            border-inline: solid;
            border-color: #189cbd;

            .content {
                font-family: 'Roboto', sans-serif;

                h4 {
                    font-size: 32px;
                    margin: 20px;
                    letter-spacing: .03em;
                    font-style: italic;
                    color: #189cbd;
                }

                span {
                    font-style: italic;
                    font-size: 16px;
                }
            }
        }

        img {
            width: 230px;
            height: auto;
            /*border-radius: 200px;*/
        }

        .cropper {
            width: 230px;
            height: 200px;
            overflow: hidden;
            /* border-radius: 15px;*/
            clip-path: circle(45%)
        }
    }

}