.section-features {
  font-weight: 400;
  color: grey;
  position: relative;
  width: 100%;

  .minte-custom {
    max-width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
     width: 100%;
    }
  }

  .cta{
    width: 14rem;
  }
  .container {
    .heading {
      text-align: center;
      margin-bottom: 60px;

      .heading-text {
        color: white;
        font-weight: bold;
        // width: 100%;
        margin: 0rem 1.5rem;
        font-weight: 400;
        font-size: 2.9rem;
        letter-spacing: 0.05rem;
        line-height: 1.2;

        &::after {
          content: "";
          display: block;
          margin: 32px auto 24px;
          width: 40px;
          height: 2px;
          background-color: #189cbd;
        }
      }

      p {
        font-weight: 400;
        font-size: 21px;
        margin: 1rem 2rem;
      }
      h4 {
        font-size: 35px;
        margin-bottom: 1.7rem;
        color: #199bbc;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
          }
        
      
      .column {
        border-radius: 0.25rem;
        padding: 1.5rem 15px 1.5rem 15px;
        max-width: 25%;
        scale: calc(1.056);
        @media screen and (max-width: 900px) {
      
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                max-width: 60%;
              
        }
        .icon {
          width: 41.91px;
          height: 48px;
          color: #189cbd;
        }

        .bold {
          color: white;
          font-weight: bold;
          letter-spacing: 0.05rem;
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
        }
      }

      .column:hover {
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer;
        box-shadow: 0 3px 15px rgb(24 156 189 / 39%) !important;
      }
    }
  }

  @media screen and (max-width: 900px) {
    height: unset;
  }
}
