.section-features {
    font-weight: 400;
    color: grey;
    position: relative;
    width: 100%;

    .container {
        margin: 0 auto;
        max-width: 1140px;
        height: auto;
        padding: 90px 0 90px;

        .heading {
            text-align: center;
            margin-bottom: 60px;

            .heading-text {
                color: white;
                font-weight: bold;
                // width: 100%;
                margin: 0rem 1.5rem;
                font-weight: 400;
                font-size: 2.9rem;
                letter-spacing: .05rem;
                line-height: 1.2;


                &::after {
                    content: "";
                    display: block;
                    margin: 32px auto 24px;
                    width: 40px;
                    height: 2px;
                    background-color: #189cbd;

                }
            }

            p {
                font-weight: 400;
                margin: 1rem 2rem;
            }
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .column {
                border-radius: 0.25rem;
                padding: 1.5rem 15px 1.5rem 15px;
                max-width: 25%;
    scale: calc(1.056);
                .icon {
                    width: 41.91px;
                    height: 48px;
                    color: #189cbd;

                }

                .bold {
                    color: white;
                    font-weight: bold;
                    letter-spacing: .05rem;
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }
            }

            .column:hover {
                transition: box-shadow .3s ease-in-out;
                cursor: pointer;
                box-shadow: 0 3px 15px rgb(24 156 189 / 39%) !important;

            }


        }
    }

    @media screen and (max-width: 900px) {
        height: unset;

        .container {
            .row {
                flex-direction: column;
                align-items: center;

                .column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    max-width: 60%;
                }
            }
        }
    }
}