$background-shape: linear-gradient(45deg, #1880bd, #189cbd 35%, #58d6c1 110%);
footer {
  width: 100%;
  bottom: 0;
  position: relative;
  color: #fff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  height: auto;
  .waves {
    position: relative;
    width: 100%;
    height: 10rem;
    .wave {
      position: absolute;
      bottom: -1rem;
      left: 0;
    }
  }

  /*&::before{
    display: block;
    
            background-image: url(../../images/Polygon.svg);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            height:320px;
            left: 0;
            position: absolute;
            right: 0;
            width:1410px;
            z-index: -2;
            top: -310px;
            
    }*/
  .footer-cont {
    background-color: #191919;

    position: relative;
    padding: 16px 15px;
    margin: 0 auto;
    width: 100%;
    color: #fff !important;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: left;
      margin-bottom: 30px;

      .a-colum-ft {
        display: flex;
        flex-direction: column;
        max-width: 330px;

        .logo-minte {
          background: radial-gradient(
              50% 50% at 50% 50%,
              rgba(255, 255, 255, 6%) 0%,
              rgba(255, 255, 255, 0) 100%
            ),
            #191919;
        }

        .description-minte {
          margin: 1rem 0;
          text-align: center;
        }
      }

      .colum {
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        .text {
        }
      }
      @media screen and (max-width: 550px) {
        .colum {
          align-items: center;
        }
      }

      .decoration {
        list-style: none;
        padding: 0;
        span {
          padding-left: 10px;
        }
        .socials {
          font-size: 20px;
        }

        li {
          color: white;
          padding-bottom: 10px;
        }

        a {
          text-decoration: none;
          color: white;
          opacity: 0.7;
        }
        a:hover {
          opacity: 1;
        }

        .color {
          color: #189cbd;
        }
      }

      .top {
        margin-bottom: 0.5rem;
        font-size: 25px;
        font-weight: 600;
        color: #189cbd !important;
      }

      .padding {
        padding: 15px;
      }
    }

    .row-small {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      flex-wrap: wrap;
      align-items: center;

      .white {
        color: white !important;
        text-decoration: none;
      }

      .row-ft-l {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        a {
          color: #189cbd;
        }
      }

      .right {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .privacy {
          margin-right: 1.2rem;
        }
      }
    }

    .line {
      margin-bottom: 30px;
    }

    a:hover {
      .hover-i {
        -webkit-text-fill-color: transparent;
        background: conic-gradient(
          from 180deg at 50.73% 50%,
          #fdc367 0deg,
          #e1316d 43.39deg,
          #d02e90 90deg,
          #9938bd 136.88deg,
          #6359c9 181.87deg,
          #515dd1 224.65deg,
          #be407b 271.87deg,
          #fdbb54 315.52deg,
          #fdc367 360deg
        );
        background-clip: text;
        -webkit-background-clip: text;
      }
      .hover-y {
        color: #e1306c;
      }
      .hover-t {
        color: #405de6;
      }
      .youtube {
        color: #e1306c;
      }
      .twitter {
        color: #405de6;
      }
      .instagram {
        border-radius: 5px;
        background: conic-gradient(
          from 180deg at 50.73% 50%,
          #fdc367 0deg,
          #e1316d 43.39deg,
          #d02e90 90deg,
          #9938bd 136.88deg,
          #6359c9 181.87deg,
          #515dd1 224.65deg,
          #be407b 271.87deg,
          #fdbb54 315.52deg,
          #fdc367 360deg
        );
      }
    }
  }

  @import url("https://fonts.googleapis.com/css?family=Mukta:700");

  $bg: #f3f8fa;
  $white: #fff;
  $black: #282936;

  @mixin transition(
    $property: all,
    $duration: 0.45s,
    $ease: cubic-bezier(0.65, 0, 0.076, 1)
  ) {
    transition: $property $duration $ease;
  }

  #container {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    &.learn-more {
      width: 100%;
      height: auto;

      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: LINEAR-GRADIENT(
          45deg,
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d
        );
        border-radius: 1.625rem;

        .socials-ft {
          /* @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));*/
          width: 100%;
          height: 100%;
          scale: calc(0.5);
          background: none;
          color: white;
          padding: 0;
          position: relative;
          margin: 0;

          &.socials {
            /*transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);*/
          }
        }
      }

      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: white;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        display: none;
      }
    }
  }

  button:hover {
    .circle {
      width: 100%;
      position: relative;

      .socials-ft {
        width: 0;
        height: 0;
        scale: 1.7;
      }
    }

    .button-text {
      margin: 0;
      display: block;
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    }
  }

  @supports (display: grid) {
    body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
    }

    #container {
      grid-area: main;
      align-self: center;
      justify-self: center;
    }
  }
}
